<template>
  <div class="home">
    <ul>
      <li :class="items.state" v-for="(item, index) in items" :key="index">{{ item.title }}</li>
      <input type="text" v-model="items.title">
    </ul>
  </div>
</template>

<script>
// @ is an alias to /src
//import HelloWorld from '@/components/HelloWorld.vue'
//const modifyString = str => str.split(' ').join('-')

export default {
  name: "home",
  created() {
    this.$store.dispatch('fetchItems');
  },
  data() {
    return {
      newItem: "",
    }
  },
  computed: {
    items() {
      return this.$store.state.items
    }
  },
  methods: {
      addItem() {
        if (this.newItem === ""){
          return;
        }
        this.items.push();
        this.newItem = "";
      }
  }
}
</script>

<style scoped>
 .todo{
   text-decoration: underline
 }
</style>
